# PostgreSQL
PG_USER=fqw_user
PG_PASSWORD=password
PG_DB=fqw_db

# JWT
JWT_SIGN_KEY=change_me_long_random_secret_key

# MinIO
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=change_me_minio_secret

# RabbitMQ
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=change_me_rabbit_password

# Ollama (на другом сервере в локальной сети)
OLLAMA_HOST=http://192.168.1.XXX:11434
OLLAMA_MODEL=gemma4:latest
