# Binaries
/bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test output
*.test
*.out

# Config files
/config/config.yml

# Environment
.env
!.env.example

# Logs
*.log

# Editor
.idea
.vscode
*.swp
*.swo
.DS_Store
